body{
    margin: 0;
    padding: 0;
    max-height: fit-content;
    background-color: rgb(251, 250, 207);
}
.nav{
    opacity:90%;
    transition: 0.5s;
    position: sticky;
    top:0;
}
.trai {
    transition: 0.5s;
    margin-right: auto;
    margin-left: 145px;
    margin-top: 40px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 64px;
}
.icon{
    display: none;
}
.nav ul{
    list-style-type: none;
    display:flex;
    background-color: rgb(216, 213, 156);
    margin: 0;
    padding: 0;
    justify-content: right;
}
.nav2{
    margin-right: 50px;
    margin-top: 10px;
}
.nav2 li{
    margin: 5px;
    margin-right: 40px;
    padding: 10px;
}
.nav2 a{
    font-family:sans-serif;
    color: rgb(101, 87, 65);
    text-decoration: none;
    padding: 6px;
}
.nav2 a:visited{
    color:rgb(26, 27, 42);
}
.nav2 a:hover{
    font-size:larger;
    color:rgb(43, 73, 65);
    transition: 0.5s;
}
.nholaitrai{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 150px;
    font-size: 47px;
}
.nholaiphai{
    transition: 0.5s;
    margin-top: 0;
    margin-bottom: 0;
    font-size:20px;
    display: flex;
}
.main{display: flex;}
.contact{
    padding-left: 12px;
    margin-top: 60px;
    width:max-content;
    border: solid 1px;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}
h1{font-size: 40px;}
#budget{width: 600px;font-size: 16px;font-weight: 100;}
#username{width: 350px;}
#phoneNumber{width: 300px;}
#email{width: 390px;}
#company{width: 350px;}
#submit{padding: 16px;background-color: rgb(153, 238, 238);border-radius: 6px;border: none;margin-bottom: 12px;transition: 0.5s ease-in-out;}
#submit:hover{background-color: rgb(0, 92, 61);color: aliceblue;}
#title2{font-family: 'Quicksand', sans-serif;font-size: 36px;margin-left: 50px;text-decoration: underline;display: block;}
.tess{
    margin-top: 39px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 120px;
    position: relative;
}
.tess1{margin-left: 80px;}
.tess1 img{width: 60%;border-radius: 50%;transition: 0.5s ease-in-out;}
#next, #back{
    margin-left: 57px;
    position:absolute;
    bottom: 57%;
    background-color: rgb(96, 154, 154);
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
}
.tess1 #next{left: 61.5%;}
.tess1 #back{left: -6%;}
.ud{padding-bottom: 0;}
.ud p{width: 680px;}
@media screen and (max-width: 767px){
    .trai{
        order: 2;
    }
    .nav2{
        order: 1;
        display: none;
    }
    .bao{
        margin-left: 5%;
        margin-top: 7px;
    }
    #icon1{
        cursor: pointer;
        margin-left: 15%;
        margin-top: 5%;
        font-size: 20px;
        display:block;
        position: relative;
    }
    .active .nav2{
        display: block;
        opacity: 1;
    }
    .nav{
        display: contents;
    }
    .contact{
        width: 565px;
    }
    .tess{
        display: none;
    }
    #budget{
        width: 560px;
    }
}