body {
  background-color: rgb(48, 45, 45);
  margin:0;
  color:#ffffff;
}
.main {
  font-family: "Calibri Light", sans-serif;
  color:white;
  margin-left:15%;
  height: 1000px;
  padding: 1px 5px;
}
.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 15%;
  background-color: rgb(89, 95, 90);
  position: fixed;
  height: 100%;
  overflow: auto;
}
.pagination a {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  transition: 0.3s; 
  display: block;
  color:#ffffff;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a:active {
  background-color: #68d4ad;
}
.pagination a:hover:not(.active) {
  background-color: #96bf9c;
}
.head1 {
  padding: 1px;
  background-image: url(https://www.10wallpaper.com/wallpaper/1680x1050/1308/purple_dusk-Best_Scenery_HD_Wallpaper_1680x1050.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.heading1 {
  font-size: 100px;
}
.button {
  background-color: rgb(77, 180, 180);
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: inline-block;
  border: 0px solid;
  padding: 20px;
  border-radius: 30px;
  transition: 0.3s;
  margin-bottom: 10px;
}
.button:hover {
  background-color: rgb(83, 210, 210);
}
.heading2 {
  text-align: center;
  font-size: 17px;
}
.main2 {
  float:none;
  overflow: hidden;
  display: inline-block;
}
.blocklink1 {
  
}