html{
    background-image: url("Documents\Anh\anh1.jpg");
    background-size: auto;
}
body {
    margin: 0;
    padding: 0;
    height: fit-content;
    font-family: Calibri Light;
    font-weight: normal;
    display:contents;
}
h1{font-size: 55px}
.title{
    max-width: 300px;
    padding: 0;
    margin:200px 0 10px 600px;
    align-items: center;
    justify-content: center;
}
.end{
    max-width: 400px;
    padding:0;
    margin: 200px 0 10px 80px;
}
