body{
    margin: 0;
    padding: 0;
    max-height: fit-content;
    background-color: rgb(105, 135, 118);
}
.nav{
    opacity:90%;
    transition: 0.5s;
    position: sticky;
    top:0;
}
#icon1{
    display: none;
}
.nav ul{
    list-style-type: none;
    display:flex;
    background-color: rgb(193, 220, 138);
    margin: 0;
    padding: 0;
    justify-content: right;
}
.nav2{
    margin-right: 50px;
    margin-top: 10px;
}
.trai{
    transition: 0.5s;
    margin-right: auto;
    margin-left: 145px;
    margin-top: 40px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 52px;
}
.nav2 li{
    margin: 5px;
    margin-right: 40px;
    padding: 10px;
}
.nav2 a{
    font-family:sans-serif;
    color: rgb(245, 147, 0);
    text-decoration: none;
    padding: 6px;
}
.nav2 a:visited{
    color:rgb(0, 0, 0);
}
.nav2 a:hover{
   color: rgb(53, 150, 53);
   font-style: bold;
   font-size: larger;
   transition: 0.5s;
}
.nholaitrai{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 150px;
    font-size: 47px;
}
.nholaiphai{
    transition: 0.5s;
    margin-top: 0;
    margin-bottom: 0;
    font-size:20px;
    display: flex;
}
.title{
    padding-top: 20px;
    font-family:'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 2px;
}
#smaller{
    font-size: 20px;
    padding-top:0;
}
.title:hover{filter: brightness(2.1);font-size: 42px;transition: 0.5s;color: #4CAF50;font-weight: bolder;}
.bao1{
    color: rgb(0, 0, 0);
    font-family:'Quicksand', sans-serif;
    text-align: center;
    padding: 16px;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(5, 4fr);
    gap: 10px;
}
.dropdown p:hover{background-color: aliceblue;transition: 0.4s ease-in-out;padding: 8px;border-radius: 12px;}
.dropdown li{
    list-style:none;
    text-align: center;
    list-style-type: none;
}
.downdown-content{
    display: none;
    border: 1px solid;
}
.dropdown a{
    font-family:'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
    color:black;
}
.dropdown:hover .downdown-content{display: block;}
@media screen and (max-width: 767px){
    .trai{
        order: 2;
    }
    .nav2{
        order: 1;
        display: none;
    }
    .nav2 a{
        font-size: 20px;
    }
    .nav2 a
    .bao{
        margin-left: 5%;
        margin-top: 7px;
    }
    #icon1{
        cursor: pointer;
        margin-left: 15%;
        margin-top: 5%;
        font-size: 20px;
        display:block;
        position: relative;
    }
    .active .nav2{
        display: block;
        opacity: 1;
    }
    .nav{
        display: contents;
    }
}